{% extends 'main/base.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{%  static 'css/loginPage.css' %}">
{% endblock %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <div class="login center">
                <div class="loginHead">Регистрация</div>
                <div class="formLogin">


            <form method="post" class="center">
            {% csrf_token %}
                <div class="mb-3 center">
                    {{ form.as_p }}
                </div>
            <button type="submit"  class="btn btn-Secondary custom_btn buttonReg" >Зарегистрироваться</button>
{#            <a href="{% url 'login' %}"><button class="btn btn-secondary me-2 custom_btn" type="button">Вход</button></a>#}

            </form>
        </div>
    </div>

{% endblock %}